<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
 <hibernate-configuration>
 <session-factory name="">

  <property name="connection.driver_class">org.postgresql.Driver</property>
  <property name="connection.url">jdbc:postgresql://localhost:5432/db_demeter</property>
  <property name="hibernate.hbm2ddl.auto">none</property>   
  <property name="connection.username">postgres</property>
  <property name="connection.password">1234</property>
  <property name="dialect">cpc.persistencia.DialectoAdaptado</property>
  <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
  <property name="current_session_context_class">thread</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.max_fetch_depth">0</property>
  <property name="hibernate.use_sql_comments">false</property>
  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.c3p0.acquire_increment">1</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.max_size">5</property>
  <property name="hibernate.c3p0.max_statements">100</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.idle_test_period">30</property>
  <property name="automaticTestTable">C3P0_TEST_TABLE</property>
  <property name="numHelperThreads">10</property>
  <property name="maxAdministrativeTaskTime">600</property>
  <property name="org.hibernate.envers.default_schema">auditoria</property> 
  <property name="statementCacheNumDeferredCloseThreads">1</property>
  
<mapping class="cpc.modelo.demeter.ReporteCodigo"/>
  
<mapping class="cpc.modelo.sigesp.basico.Activo"/>
<mapping class="cpc.modelo.sigesp.basico.ActivoAlmacen"/>
<mapping class="cpc.modelo.sigesp.basico.Almacen"/>
<mapping class="cpc.modelo.sigesp.basico.Articulo"/>
<mapping class="cpc.modelo.sigesp.basico.Banco"/>
<mapping class="cpc.modelo.sigesp.basico.Cargo"/>
<mapping class="cpc.modelo.sigesp.basico.Categoria"/>
<mapping class="cpc.modelo.sigesp.basico.ClaseCCNU"/>
<mapping class="cpc.modelo.sigesp.basico.CuentaBancaria"/>
<mapping class="cpc.modelo.sigesp.basico.CuentaContable"/>
<mapping class="cpc.modelo.sigesp.basico.EstadoGeografico"/>
<mapping class="cpc.modelo.sigesp.basico.FamiliaCCNU"/>
<mapping class="cpc.modelo.sigesp.basico.Marca"/>
<mapping class="cpc.modelo.sigesp.basico.Modelo"/>
<mapping class="cpc.modelo.sigesp.basico.Municipio"/>
<mapping class="cpc.modelo.sigesp.basico.ProductoCCNU"/>
<mapping class="cpc.modelo.sigesp.basico.Sede"/>
<mapping class="cpc.modelo.sigesp.basico.SegmentoCCNU"/>
<mapping class="cpc.modelo.sigesp.basico.Tipo"/>
<mapping class="cpc.modelo.sigesp.basico.TipoArticuloSIGESP"/>
<mapping class="cpc.modelo.sigesp.basico.TipoCuenta"/>
<mapping class="cpc.modelo.sigesp.basico.TipoAlmacen"/>
<mapping class="cpc.modelo.sigesp.basico.UbicacionGeografica"/>
<mapping class="cpc.modelo.sigesp.basico.UnidadAdministrativa"/>
<mapping class="cpc.modelo.sigesp.basico.UnidadMedidaSIGESP"/>
<mapping class="cpc.modelo.sigesp.indice.ActivoPK"/>
<mapping class="cpc.modelo.sigesp.indice.ArticuloPK"/>
<mapping class="cpc.modelo.sigesp.indice.BancoPK"/>
<mapping class="cpc.modelo.sigesp.indice.EstadoGeograficoPK"/>

<mapping class="cpc.modelo.demeter.administrativo.sigesp.ExtracionDatosSigesp"/>

<mapping class="cpc.modelo.demeter.administrativo.Cotizacion"/>
<mapping class="cpc.modelo.demeter.administrativo.ContratoServicioTecnico"/>
<mapping class="cpc.modelo.demeter.administrativo.DetalleContratoSalidaArticulo"/>
<mapping class="cpc.modelo.demeter.administrativo.DetalleContratoDevolucionArticulo"/>
<mapping class="cpc.modelo.sigesp.basico.UnidadCentralizadaPK"/>
<mapping class="cpc.modelo.sigesp.basico.UnidadCentralizada"/>
<mapping class="cpc.modelo.sigesp.basico.ClaseAlmacen"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Repuesto"/>
<mapping class="cpc.modelo.demeter.mantenimiento.RepuestoEquivalente"/>
<mapping class="cpc.modelo.demeter.mantenimiento.RepuestoEquivalentePK"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Consumible"/>
<mapping class="cpc.modelo.demeter.mantenimiento.ConsumibleEquivalente"/>
<mapping class="cpc.modelo.demeter.mantenimiento.ConsumibleEquivalentePK"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Herramienta"/>
<mapping class="cpc.modelo.demeter.mantenimiento.HerramientaEquivalente"/>
<mapping class="cpc.modelo.demeter.mantenimiento.HerramientaEquivalentePK"/>
<mapping class="cpc.modelo.demeter.mantenimiento.SolicitudServicioTecnico"/>
<mapping class="cpc.modelo.demeter.mantenimiento.ArticuloAlmacenCantidad"/>
<mapping class="cpc.modelo.demeter.mantenimiento.ArticuloAlmacenCantidadPK"/>
<mapping class="cpc.modelo.demeter.mantenimiento.TipoMovimientoArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Serie"/>
<mapping class="cpc.modelo.demeter.mantenimiento.MovimientoArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.EntradaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.SalidaInternaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.SalidaExternaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.TransferenciaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DevolucionArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleArticuloMovimiento"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleEntradaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleSalidaInternaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleSalidaExternaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleTransferenciaArticulo"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleDevolucionArticulo"/>
<mapping class="cpc.modelo.sigesp.indice.MunicipioPK"/>
<mapping class="cpc.modelo.sigesp.indice.ParroquiaPK"/>
<mapping class="cpc.modelo.sigesp.indice.SedePK"/>
<mapping class="cpc.modelo.demeter.basico.CostoBancario"/>
<mapping class="cpc.modelo.demeter.basico.ArticuloVenta"/>
<mapping class="cpc.modelo.demeter.basico.ClaseArticulo"/>
<mapping class="cpc.modelo.demeter.basico.CodigoArea"/>
<mapping class="cpc.modelo.demeter.basico.Rubro"/>
<mapping class="cpc.modelo.demeter.basico.Labor"/>
<mapping class="cpc.modelo.demeter.basico.Servicio"/>
<mapping class="cpc.modelo.demeter.basico.PrecioProducto"/>
<mapping class="cpc.modelo.demeter.basico.Producto"/>
<mapping class="cpc.modelo.demeter.basico.ConceptoPago"/>
<mapping class="cpc.modelo.demeter.basico.TipoArticulo"/>
<mapping class="cpc.modelo.demeter.basico.TipoCiclo"/>
<mapping class="cpc.modelo.demeter.basico.TipoConsumo"/>
<mapping class="cpc.modelo.demeter.basico.TipoFormaPago"/>
<mapping class="cpc.modelo.demeter.basico.TipoProducto"/>
<mapping class="cpc.modelo.demeter.basico.TipoRubro"/>
<mapping class="cpc.modelo.demeter.basico.TipoUnidadMedida"/>
<mapping class="cpc.modelo.demeter.basico.Trabajador"/>
<mapping class="cpc.modelo.demeter.basico.UnidadMedida"/>
<mapping class="cpc.modelo.demeter.basico.UnidadxServicio"/>
<mapping class="cpc.modelo.demeter.basico.TipoTrabajador"/>
<mapping class="cpc.modelo.demeter.basico.OrganismoEnteRectorPrecios"/>
<mapping class="cpc.modelo.demeter.basico.TipoServicio"/>
<mapping class="cpc.modelo.demeter.basico.TipoSolicitud"/>
<mapping class="cpc.modelo.demeter.basico.EspecilidadCargo"/>
<mapping class="cpc.modelo.demeter.basico.SectorAgricola"/>
<mapping class="cpc.modelo.demeter.basico.CicloProductivo"/>
<mapping class="cpc.modelo.demeter.basico.PlanServicio"/>
<mapping class="cpc.modelo.demeter.basico.TipoPlanServicio"/>
<mapping class="cpc.modelo.demeter.basico.TipoTrabajo"/>
<mapping class="cpc.modelo.demeter.basico.TipoCoordenadaGeografica"/>
<mapping class="cpc.modelo.demeter.basico.TipoDocumentoTierra"/>
<mapping class="cpc.modelo.demeter.basico.ClaseUnidadArrime"/>
<mapping class="cpc.modelo.demeter.basico.UnidadArrime"/>
<mapping class="cpc.modelo.demeter.basico.TipoUnidadArrime"/>
<mapping class="cpc.modelo.demeter.basico.CargoTrabajador"/>
<mapping class="cpc.modelo.demeter.basico.FuncionTrabajador"/>
<mapping class="cpc.modelo.demeter.basico.TipoVerificacionSuelo"/>
<mapping class="cpc.modelo.demeter.basico.InteresMora"/>
<mapping class="cpc.modelo.demeter.administrativo.AprobacionDebito"/>
<mapping class="cpc.modelo.demeter.administrativo.AprobacionDescuento"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiario"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioAsiento"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioCuentaPagar"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioCuentaCobrar"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioDeposito"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioDocumento"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioImpuesto"/>
<mapping class="cpc.modelo.demeter.administrativo.CierreDiarioCuentaAdelanto"/>
<mapping class="cpc.modelo.demeter.administrativo.ClienteAdministrativo"/>
<mapping class="cpc.modelo.demeter.administrativo.ConsumoCredito"/>
<mapping class="cpc.modelo.demeter.administrativo.Contrato"/>
<mapping class="cpc.modelo.demeter.administrativo.ContratoMecanizado"/>
<mapping class="cpc.modelo.demeter.administrativo.CuentasTipoServicio"/>
<mapping class="cpc.modelo.demeter.administrativo.CuotasAPagarCliente"/>
<mapping class="cpc.modelo.demeter.administrativo.EstadoContrato"/>
<mapping class="cpc.modelo.demeter.administrativo.ControlSede"/>
<mapping class="cpc.modelo.demeter.administrativo.CuentaxCobrar"/>
<mapping class="cpc.modelo.demeter.administrativo.DefinicionDeCuotas"/>
<mapping class="cpc.modelo.demeter.administrativo.DebitoInterno"/>
<mapping class="cpc.modelo.demeter.administrativo.Deposito"/>
<mapping class="cpc.modelo.demeter.administrativo.DetalleDeposito"/>
<mapping class="cpc.modelo.demeter.administrativo.DetalleDocumentoFiscal"/>
<mapping class="cpc.modelo.demeter.administrativo.DocumentoFiscal"/>
<mapping class="cpc.modelo.demeter.administrativo.DetalleContrato"/>
<mapping class="cpc.modelo.demeter.administrativo.EstadoDocumentoFiscal"/>
<mapping class="cpc.modelo.demeter.administrativo.Impuesto"/>
<mapping class="cpc.modelo.demeter.administrativo.ImpuestoDocumentoFiscal"/>
<mapping class="cpc.modelo.demeter.administrativo.LibroVenta"/>
<mapping class="cpc.modelo.demeter.administrativo.LibroVentaDetalle"/>
<mapping class="cpc.modelo.demeter.administrativo.NotaCredito"/>
<mapping class="cpc.modelo.demeter.administrativo.NotaDebito"/>
<mapping class="cpc.modelo.demeter.administrativo.NotaPago"/>
<mapping class="cpc.modelo.demeter.administrativo.PlanFinanciamiento"/>
<mapping class="cpc.modelo.demeter.administrativo.Recibo"/>
<mapping class="cpc.modelo.demeter.administrativo.TipoDocumentoFiscal"/>
<mapping class="cpc.modelo.demeter.administrativo.TipoFinanciamiento"/>
<mapping class="cpc.modelo.demeter.administrativo.FrecuenciaDePago"/>
<mapping class="cpc.modelo.demeter.administrativo.TipoContrato"/>
<mapping class="cpc.modelo.demeter.administrativo.FormaPago"/>
<mapping class="cpc.modelo.demeter.administrativo.FormaPagoCheque"/>
<mapping class="cpc.modelo.demeter.administrativo.FormaPagoDeposito"/>
<mapping class="cpc.modelo.demeter.administrativo.FormaPagoEfectivo"/>
<mapping class="cpc.modelo.demeter.administrativo.FormaPagoRetencion"/>
<mapping class="cpc.modelo.demeter.administrativo.FormaPagoTransferencia"/>
<mapping class="cpc.modelo.demeter.administrativo.ReciboDocumentoFiscal"/>
<mapping class="cpc.modelo.demeter.administrativo.AuxiliarAsientoIngreso"/>
<mapping class="cpc.modelo.demeter.administrativo.AuxiliarAsientoImpuesto"/>

 <mapping class="cpc.modelo.demeter.gestion.EstadoMaquinariaImpropia"/>
<mapping class="cpc.modelo.demeter.gestion.ActaAutorizacion"/>
<mapping class="cpc.modelo.demeter.gestion.AnulacionSolicitud"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleActaAutorizacion"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleActaSalida"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleMovimiento"/>
<mapping class="cpc.modelo.demeter.gestion.EstadoMovimientoActivo"/>
<mapping class="cpc.modelo.demeter.gestion.EntradaActivo"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleOrdenTransporteProduccion"/>
<mapping class="cpc.modelo.demeter.gestion.Movimiento"/>
<mapping class="cpc.modelo.demeter.gestion.MotivoTransferenciaActivo"/>
<mapping class="cpc.modelo.demeter.gestion.SalidaActivo"/>
<mapping class="cpc.modelo.demeter.gestion.PrestamoActivo"/>
<mapping class="cpc.modelo.demeter.gestion.TipoMovimiento"/>
<mapping class="cpc.modelo.demeter.gestion.TipoActaAutorizacion"/>
<mapping class="cpc.modelo.demeter.gestion.TransferenciaActivo"/>
<mapping class="cpc.modelo.demeter.gestion.TrasladoActivo"/>
<mapping class="cpc.modelo.demeter.gestion.EstadoOrdenTrabajo"/>
<mapping class="cpc.modelo.demeter.gestion.EstadoSolicitud"/>
<mapping class="cpc.modelo.demeter.gestion.UnidadSolicitada"/>
<mapping class="cpc.modelo.demeter.gestion.Solicitud"/>
<mapping class="cpc.modelo.demeter.gestion.SolicitudMecanizado"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleSolicitud"/>
<mapping class="cpc.modelo.demeter.gestion.ControlUnidadFuncional"/>
<mapping class="cpc.modelo.demeter.gestion.LaborOrdenServicio"/>
<mapping class="cpc.modelo.demeter.gestion.OrdenTrabajo"/>
<mapping class="cpc.modelo.demeter.gestion.OrdenTrabajoMecanizado"/>
<mapping class="cpc.modelo.demeter.gestion.OrdenTrabajoTransporte"/>
<mapping class="cpc.modelo.demeter.gestion.OrdenTrabajoTransporteInterno"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleOrdenTrabajo"/>
<mapping class="cpc.modelo.demeter.gestion.TrabajoRealizado"/>
<mapping class="cpc.modelo.demeter.gestion.TrabajoRealizadoMecanizado"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleMaquinariaOrdenTrabajo"/>
<mapping class="cpc.modelo.demeter.gestion.DetalleTrabajoRealizadoMecanizado"/>
<mapping class="cpc.modelo.demeter.gestion.MaquinariaUnidad"/>
<mapping class="cpc.modelo.demeter.gestion.MotivoAnulacionSolicitud"/>
<mapping class="cpc.modelo.demeter.gestion.ImplementoUnidad"/>
<mapping class="cpc.modelo.demeter.gestion.OrdenTransporteProduccion"/>
<mapping class="cpc.modelo.demeter.gestion.FallaRecepcionSilo"/>
<mapping class="cpc.modelo.demeter.gestion.Sustitucion"/>
<mapping class="cpc.modelo.demeter.gestion.SustitucionOrden"/>
<mapping class="cpc.modelo.demeter.gestion.SabanaMecanizadoAgricola"/>




<mapping class="cpc.modelo.demeter.mantenimiento.Fabricante"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Falla"/>
<mapping class="cpc.modelo.demeter.mantenimiento.EstadoFuncional"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Lote"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Maquinaria"/>
<mapping class="cpc.modelo.demeter.mantenimiento.MomentoFalla"/>
<mapping class="cpc.modelo.demeter.mantenimiento.ObjetoMantenimiento"/>
<mapping class="cpc.modelo.demeter.mantenimiento.TipoFalla"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Sistema"/>
<mapping class="cpc.modelo.demeter.mantenimiento.TipoMedidaRendimiento"/>
<mapping class="cpc.modelo.demeter.mantenimiento.RegistroFalla"/>
<mapping class="cpc.modelo.ministerio.basico.CoordenadaGeografica"/>
<mapping class="cpc.modelo.ministerio.basico.EstadoCivil"/>
<mapping class="cpc.modelo.ministerio.basico.Genero"/>
<mapping class="cpc.modelo.ministerio.basico.GradoInstruccion"/>
<mapping class="cpc.modelo.ministerio.basico.LinderoDireccion"/>
<mapping class="cpc.modelo.ministerio.basico.Nacionalidad"/>
<mapping class="cpc.modelo.ministerio.basico.Telefono"/>
<mapping class="cpc.modelo.ministerio.basico.TipoProductor"/>
<mapping class="cpc.modelo.ministerio.basico.TipoRiego"/>
<mapping class="cpc.modelo.ministerio.basico.TipoSuelo"/>
<mapping class="cpc.modelo.ministerio.basico.TipoSuperficie"/>
<mapping class="cpc.modelo.ministerio.basico.TipoTenenciaTierra"/>
<mapping class="cpc.modelo.ministerio.basico.TipoUPSS"/>
<mapping class="cpc.modelo.ministerio.basico.TipoUsoTierra"/>
<mapping class="cpc.modelo.ministerio.basico.TipoVialidad"/>
<mapping class="cpc.modelo.ministerio.basico.TipoUbicacion"/>
<mapping class="cpc.modelo.ministerio.basico.Usos"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionDireccion"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionEje"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionEstado"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionMunicipio"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionPais"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionParroquia"/>
<mapping class="cpc.modelo.ministerio.dimension.UbicacionSector"/>
<mapping class="cpc.modelo.ministerio.dimension.UnidadFuncional"/>
<mapping class="cpc.modelo.ministerio.dimension.TipoUnidadFuncional"/>
<mapping class="cpc.modelo.ministerio.gestion.InstitucionCrediticia"/>
<mapping class="cpc.modelo.ministerio.gestion.Representante"/>
<mapping class="cpc.modelo.ministerio.gestion.Cliente"/>
<mapping class="cpc.modelo.ministerio.gestion.Organizacion"/>
<mapping class="cpc.modelo.ministerio.gestion.Productor"/>
<mapping class="cpc.modelo.ministerio.gestion.ProductorNatural"/>
<mapping class="cpc.modelo.ministerio.gestion.ProductorJuridico"/>
<mapping class="cpc.modelo.ministerio.gestion.SuperficieUnidad"/>
<mapping class="cpc.modelo.ministerio.gestion.TipoFinanciamientoCrediticio"/>
<mapping class="cpc.modelo.ministerio.gestion.TipoOrganizacion"/>
<mapping class="cpc.modelo.ministerio.gestion.UnidadProductiva"/>
<mapping class="cpc.modelo.ministerio.gestion.UnidadProductivaTipoRiego"/>
<mapping class="cpc.persistencia.RevAuditoria"/>
<mapping class="cpc.modelo.demeter.mantenimiento.TipoGarantia"/>
<mapping class="cpc.modelo.demeter.mantenimiento.TipoMaquinariaVenta"/>
<mapping class="cpc.modelo.demeter.mantenimiento.ClaseMaquinaria"/>
<mapping class="cpc.modelo.demeter.mantenimiento.PlantaDistribuidora"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Garantia"/>
<mapping class="cpc.modelo.demeter.mantenimiento.MaquinariaExterna"/>
<mapping class="cpc.modelo.demeter.mantenimiento.DetalleGarantina"/>
<mapping class="cpc.modelo.demeter.mantenimiento.UsuarioMantenimiento"/>
<mapping class="cpc.modelo.demeter.mantenimiento.EnteExterno"/>
<mapping class="cpc.modelo.demeter.mantenimiento.PlanMantenimiento"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Actividad"/>
<mapping class="cpc.modelo.demeter.mantenimiento.Periodicidad"/>
<mapping class="cpc.modelo.demeter.mantenimiento.OrdenGarantia"/>
<mapping class="cpc.modelo.demeter.mantenimiento.CertificadoOrigen"/>
<mapping class="cpc.modelo.demeter.mantenimiento.MantenimientoMaquinaria"/>
<mapping class="cpc.modelo.demeter.administrativo.Cheque"/>
<mapping class="cpc.modelo.demeter.administrativo.Reintegro"/>

<mapping class="cpc.modelo.demeter.administrativo.TipoCotizacion"/> 

<mapping class="cpc.modelo.demeter.transporte.Destino" />
<mapping class="cpc.modelo.demeter.transporte.EstadoSolicitudTransporte" />
<mapping class="cpc.modelo.demeter.transporte.Gerencia" />
<mapping class="cpc.modelo.demeter.transporte.SolicitudTransporte" />

    <mapping class="cpc.modelo.demeter.sincronizacion.Exportar" />
    <mapping class="cpc.modelo.demeter.sincronizacion.DetalleExport" />
    <mapping class="cpc.modelo.demeter.sincronizacion.Importar" />
    <mapping class="cpc.modelo.demeter.sincronizacion.DetalleImportar" />
    <mapping class="cpc.modelo.demeter.sincronizacion.DetalleImportarError" />
    <mapping class="cpc.modelo.demeter.sincronizacion.SedeDemeter" />
    <mapping class="cpc.modelo.demeter.gestion.MaquinariaImpropia" />   
    <mapping class="cpc.modelo.demeter.administrativo.CotizacionTransporte"/>
    <mapping class="cpc.modelo.demeter.transporte.UbicacionTransporte"/>
    <mapping class="cpc.modelo.demeter.administrativo.CotizacionVialidad" />
    <mapping class="cpc.modelo.demeter.administrativo.ArchivoContrato" />
    <mapping class="cpc.modelo.demeter.administrativo.ReciboNotaCargo" />
    <mapping class="cpc.modelo.demeter.administrativo.NotaCargo" />
    <mapping class="cpc.modelo.demeter.administrativo.ConceptoNotaCargo" />
    <mapping class="cpc.modelo.demeter.administrativo.ReversoRecibo" />
    <mapping class="cpc.modelo.demeter.administrativo.ReversoFormaPago"/>
    <mapping class="cpc.modelo.demeter.administrativo.CierreDiarioReversoRecibo" />
    <mapping class="cpc.modelo.demeter.administrativo.AprobacionReversoRecibo" />
    <mapping class="cpc.modelo.demeter.gestion.ImplementoImpropio" />
    <mapping class="cpc.modelo.demeter.administrativo.AprobacionDebitoInterno" />
	<mapping class="cpc.modelo.demeter.administrativo.TipoAprobacionDebitoInterno" />
	<mapping class="cpc.modelo.demeter.administrativo.FormaPagoPunto" />
	<mapping class="cpc.modelo.demeter.administrativo.EstadoExoneracionContrato" />
	<mapping class="cpc.modelo.demeter.administrativo.AprobacionExoneracionContrato" />
	<mapping class="cpc.modelo.demeter.administrativo.SolicitudExoneracionContrato" />
	<mapping class="cpc.modelo.demeter.administrativo.DetalleExoneracionContrato" />
	<mapping class="cpc.modelo.demeter.vistas.ClienteAdministrativoView"/>
	<mapping class="cpc.modelo.demeter.vistas.ProductorView"/>

 	<listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert" /> 
     <listener class="org.hibernate.envers.event.AuditEventListener" type="post-update" /> 
     <listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete" /> 
     <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update" /> 
     <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove" /> 
     <listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate" /> 
 </session-factory>

</hibernate-configuration>